.gameStartTable {
  width: 100%;
  max-width: 400px;
  margin: 30px auto;
  font-size: 20px;
  margin-bottom: 30px;
}

.gameStartTable input {
  width: 200px;
  font-size: 20px;
  padding: 10px;
}

.winnerScoreboard {
  width: 400px;
  margin: 20px auto;
}

.winnerScoreboard .player {
  text-align: left;
  font-weight: bold;
}

.winnerScoreboard .score {
  text-align: right;
}

.header {
  height: 40px;
  background: #4a4aab;
  color: white;
  font-size: 24px;
  display: flex;
}

.header .back {
  position: absolute;
  left: 20px;
  height: 40px;
  line-height: 40px;
}
.header .back a {
  color: white;
  text-decoration: none;
}

.header .title {
  margin: auto;
}

.header .info {
  position: absolute;
  font-size: 18px;
  right: 20px;
  height: 40px;
  line-height: 40px;
}

.genericContainer {
  width: 100%;
  max-width: 600px;
  margin: 60px auto;
}

.playerSection {
  margin-top: 200px;
  vertical-align: top;
}
.playerSection .playerAvatar {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 8px;
  cursor: default;
}

.playerAvatar .score {
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.playerAvatar.ready {
  background: #6eb96c;
}

.playerAvatar:hover .score {
  height: 50px;
}

.loadingContainer {
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #ccc;
}
.loadingBar {
  width: 0%;
  height: 10px;
  border: 1px solid #ccc;
  background: #4a4aab;
  transition: width 40s;
  border-radius: 4px;
  box-sizing: border-box;
}

.cardContainer {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 330px;
  margin: 16px;
}